.coin-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.coin-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 100%;
}

@media (min-width: 1200px) {
    .coin-row {
        width: 70%;
    }
    .coin-data {
        width: 100%;
    }
}

.coin {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coin h1 {
    font-size: 16px;
}

.coin img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.coin-symbol {
    text-transform: uppercase;
}

.coin-data {
    display: flex;
    text-align: right;
    justify-content: space-around;
}

.red {
    color: #f64343;
}

.green {
    color: #11d811;
}

.coin-name {
    display: flex;
    flex-direction: row;
    min-width: 150px;
    justify-content: space-between;
}

.coin-flex {
    display: flex;
    flex-direction: row;
}

@media (max-width: 568px) {
    .coin-data {
        display: flex;
        flex-direction: column;
        justify-content: right;
    }

    .coin-name {
        display: flex;
        flex-direction: column;
        justify-content: left;
        min-width: auto;
    }

    .coin-row {
        margin: 0 10px 0 10px;
        height: 100px;
    }
}